body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: left;
  color: #293c4b;
  background-color: #FAFAFA;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
